<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <!-- Compliance: Nuget.config can only have a single feed entry.  The Xamarin.CodeAnalysis feed encapsulates, as upstream feeds, all other feeds needed by the project -->
    <add key="Xamarin.CodeAnalysis" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/Xamarin.CodeAnalysis/nuget/v3/index.json" />
  </packageSources>
</configuration>