<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="xvssdk" value="https://nugets.blob.core.windows.net/xvssdk/index.json" />
  </packageSources>
</configuration>