<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org official" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
  </packageSources>
</configuration>
